/* Job Start */

.job {
  position: relative;
  min-height: 152px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 32px 40px;
  background-color: var(--clr-white);
  margin-top: 32px;
  border-radius: 5px;
  justify-content: space-between;
  gap: 8px;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.jobDetails {
  display: flex;
  flex-wrap: wrap;
  height: 88px;
  align-items: center;
}
.jobDetails img {
  max-width: 88px;
  max-height: 88px;
  border-radius: 50%;
  transition: var(--transition);
}
.row {
  display: block;
  margin-bottom: 4px;
}
.jobDta h4,
.jobDta p,
.jobDta ul li {
  display: inline-block;
}

.jobDta {
  padding-left: 24px;
  transition: var(--transition);
}

.jobDta h4 {
  padding-right: 15px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
}

.jobDta p {
  padding: 8px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-radius: var(--radius);
  font-size: 11px;
  font-weight: bold;
  line-height: 12px;
  text-transform: uppercase;
  margin-right: 15px;
  max-height: 24px;
}

.featured {
  background-color: var(--clr-black) !important;
}

.position {
  color: var(--clr-black);
  transition: var(--transition);
  font-size: 18px;
  font-weight: bold;
}
.position:hover {
  color: var(--clr-primary);
}

.jobDta ul li {
  color: #7c8f8f;
  font-size: 15px;
  font-weight: 500;
}

.dotted {
  position: relative;
  padding-left: 18px;
  margin-left: 18px;
}

.jobDta .dotted:before {
  content: '\A';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #7c8f8f;
  display: inline-block;
  position: absolute;
  top: 38%;
  left: 0;
}

.brdrLft {
  position: absolute;
  width: 5px;
  background-color: var(--clr-primary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  top: 0;
  left: 0;
  height: 100%;
}

/* categories start */

.btnTag {
  height: 32px;
  padding: 8px;
  background-color: var(--clr-primary-filter);
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: var(--radius-sm);
  margin-right: 16px;
  font-size: 13px;
  font-weight: bold;
  color: var(--clr-primary);
  text-transform: capitalize;
  font-family: 'Spartan', sans-serif;
  transition: var(--transition);
}
.btnTag:hover {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

/* categories END */

/* MEDIA QUERIES */
@media screen and (max-width: 940px) {
  .jobDetails {
    margin-bottom: 12px;
  }
  .categories {
    flex: 0 0 100%;
    border-top: 1px solid #b7c4c4;
    padding-top: 24px;
  }
  .btnTag {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 556px) {
  .job {
    margin-top: 40px;
  }
  .jobDetails {
    position: relative !important;
  }
  .jobDetails img {
    width: 48px;
    height: 48px;
    position: absolute !important;
    top: -55px !important;
  }
  .jobDta {
    padding-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .job {
    padding: 32px 24px;
  }
  .position {
    font-size: 15px;
  }
  .jobDetails {
    margin-bottom: 0;
  }
  .jobDta h4 {
    font-size: 13px;
  }

  .jobDta ul li {
    font-size: 13px;
  }
  .dotted {
    padding-left: 12px;
    margin-left: 12px;
  }
}

@media screen and (max-width: 350px) {
  .jobDta p {
    font-size: 9px;
    line-height: 11px;
    margin-right: 8px;
  }
  .jobDta ul li {
    font-size: 11px;
  }
}
